# Секреты (обязательно сгенерируйте новые для продакшена!)
# openssl rand -base64 32
NEXTAUTH_SECRET=

# Базовый URL приложения
NEXTAUTH_URL="http://localhost:3030"

# OAuth провайдеры (если используются)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Строка подключения для Prisma
# Docker: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@db:5432/<POSTGRES_DB>?schema=public
# Локально: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@127.0.0.1:5432/<POSTGRES_DB>?schema=public
DATABASE_URL=

# Данные для инициализации базы данных (используются в docker-compose)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Порт для публикации наружу
HOST_PORT=3030
AUTH_SECRET="your_super_secret_here" 
GOOGLE_CLIENT_ID=""  
GOOGLE_CLIENT_SECRET=""  
